<div class="custom-card-border-radius">
  <app-header [showMenu]="true" [icon]="'icon-cliente'" [cardText]="'Mis Clientes'"></app-header>
</div>

<ion-content [fullscreen]="true" > <!--(ionScroll)="onScroll($event)"-->
  <ion-card *ngFor="let client of clients" mode="ios" class="client">
    <ion-card-content id="open-modal" (click)="onCardClick(client)">
      <ion-icon name="ellipsis-vertical" class="card-options-icon"></ion-icon>
      <div class="list-client">
        <app-name-client [client]="client"></app-name-client>
        <div class="info">
          <ion-card-title class="name-client">{{ client.nombre }}</ion-card-title>
          <ion-label class="address">{{ client.direccion.calle }}, #{{ client.direccion.numeroExterior }}, {{ client.direccion.colonia }}, 
            C.P: {{ client.direccion.codigoPostal }}, {{ client.direccion.ciudad }}, {{ client.direccion.estado }}.
          </ion-label>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-fab mode="md" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button routerLink="/main/clients/new-client">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<app-modal-info></app-modal-info>

<app-menu-tab></app-menu-tab>