/*
.card-content {
    display: flex;
    align-items: center;
    height: 40px; 
    transform: translateY(-15%);
    z-index: 1;
}


.name-client {
    font-size: 17px; 
}

.info {
    transform: translateY(20%);
}
    */
/*
.client {
    border-radius: 15px;
    transform: translateY(-20%);
    margin-top: 1px;
    margin-bottom: 15px;
}
    */

    /*
.card-options-icon {
    position: absolute;
    top: 5px; 
    right: -3px;
    padding: 8px;
}

.profile {
    color: #878787;
    font-size: 15px;
}
        */




