.modal {
  --height: 37%;
  --border-radius: 35px;
}

.card-options-icon {
  position: absolute;
  top: 13px; 
  right: 3px;
  padding: 15px;
}

.card-content {
  display: flex;
  align-items: center;
  height: 40px; 
  transform: translateY(20%);
  z-index: 1;
  margin-left: 5px;
}

.info {
  margin-left: -10px;
  transform: translateY(20%);
}

.name-client {
  font-size: 20px; 
  font-weight: bold;
}

.icon-container {
  display: flex;
  flex-direction: column;
  transform: translateY(40%);
  margin-left: 20px;
}

.content-icon {
  //display: flex;
  align-items: center;
  height: 30px; 
  //margin-left: 5px;
}

.icon-black:before {
  color: #000000 !important;
  font-size: 18px;
}

.address-client {
  font-size: 13px; 
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 13px;
}

ion-label {
  display: inline-flex;
  align-items: center;
  //margin-left: 5px;
}


.content-button {
  position: absolute;
  bottom: -60%;
  right: 40px;

  ion-button {
    margin-left: 15px;
  }
}

.icon-white:before {
  color: white !important;
}

.large-icon {
  font-size: 1.5em; 
  color: white !important;
}

// MODAL REQUEST
.modal-request {
  --height: 90%;
  --border-radius: 35px;
}

.content-button-request  {
  position: relative;
  bottom: -80%;
  right: -40%;
  display: flex;
  flex-direction: row;
  gap: 10px; 
}

.label-modal ion-label {
  text-align: left;
  margin-bottom: -7px;
  font-size: small;
  //transform: translateY(-50%);
  font-weight: bold;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px; /* Ajusta el margen según sea necesario */
}

.button-container ion-label {
  margin-top: 5px; /* Ajusta el margen según sea necesario */
  font-weight: bold;
  font-size: 10px;
}
/*
.no-hover ion-button {
  pointer-events: none;
}
  */



