<ion-content class="ion-padding">
  <ion-modal #modalClient class="glass-content modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <ion-card-content id="open-modal">
        <ion-icon name="ellipsis-vertical" class="card-options-icon"></ion-icon>
        <div class="card-content">
          <app-name-client [client]="client" ></app-name-client>
          <div class="info">
            <ion-card-title class="name-client">{{ client.nombre }}</ion-card-title>
          </div>
        </div>
        <div class="icon-container">
          <div class="content-icon">
            <span class="icon-direccion icon-black"></span>
            <ion-label class="address-client">{{ client.direccion.calle }}, #{{ client.direccion.numeroExterior }}, {{ client.direccion.colonia }}, 
              C.P: {{ client.direccion.codigoPostal }}, {{ client.direccion.ciudad }}, {{ client.direccion.estado }}.</ion-label>
          </div>
          <div class="content-icon">
            <span class="icon-telefono icon-black"></span>
            <ion-label class="address-client">{{ client.telefono }}</ion-label>
          </div>
          <div class="content-icon">
            <span class="icon-correo icon-black"></span>
            <ion-label class="address-client">{{ client.correo }}</ion-label>
          </div>
        </div>

        <div class="content-button no-hover">
          <ng-container *ngFor="let button of buttons; let i = index">
            <ion-button mode="ios" shape="round" size="large"
              [style.--background]="i < 3 ? client.color : (i === 3 ? 'red' : '')" (click)="onCardClick()">
              <ion-icon slot="icon-only" class="{{ 'icon-' + button.Icon }} icon-white large-icon"></ion-icon>
            </ion-button>
          </ng-container>

          <ion-button id="open-custom-delete" mode="ios" shape="round" size="large" class="delete" (click)="openDeleteModal()">
            <ion-icon slot="icon-only" class="icon-eliminar icon-white large-icon"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ng-template>
  </ion-modal>



    <!-- Modal para solicitudes -->
    <ion-modal #modalRequest class="glass-content modal-request" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
      <ng-template>
        <ion-card-content id="modal-request">
          <app-info-client></app-info-client>
            <h2>H3: The quick brown fox jumps over the lazy dog</h2>
            <div class="label-modal" style="display: flex; flex-direction: column;">
              <ion-label>Clave</ion-label>
              <p>INS-12PR</p>
              <ion-label>Categoria</ion-label>
              <p>Audio y Video</p>
              <ion-label>Fecha</ion-label>
              <p>17 / Junio / 2024</p>
              <ion-label>Hora</ion-label>
              <p>03:30 p.m.</p>
              <ion-label>Descripción</ion-label>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit cum quis, 
                nisi nullam molestie dictumst dis euismod facilisi magna, fames ac 
                sed feugiat imperdiet iaculis dapibus sapien. Risus ullamcorper id .
              </p>
            </div>

          <div class="content-button-request no-hover">
            <ng-container *ngFor="let button of buttonsRequest; let i = index">
              <div class="button-container">
                <ion-button mode="ios" shape="round" size="large"
                  [style.--background]="i < 2 ? client.color : (i === 2 ? 'red' : '')" (click)="onCardClick()">
                  <ion-icon slot="icon-only" class="{{ 'icon-' + button.icon }} icon-white large-icon"></ion-icon>
                </ion-button>
                <ion-label>{{ button.label }}</ion-label>
              </div>
            </ng-container>
          </div>
        </ion-card-content>
      </ng-template>
    </ion-modal>




    <ion-modal id="modal" #deleteModal trigger="open-custom-delete" class="glass-content custom-modal">
      <ng-template>
        <div class="modal-delete">
          <h5><strong>¿Está seguro de eliminar el cliente {{ client.nombre }}?</strong></h5>
          <div class="container-button">
            <div class="time-box">
              <ion-button mode="ios" class="btn cancel" type="button" size="small">
                <strong>Cancelar</strong>
              </ion-button>
            </div>
            <div class="time-box">
              <ion-button mode="ios" class="btn delete" type="button" size="small" (click)="deleteClient()">
                <strong>Eliminar</strong>
              </ion-button>
            </div>
          </div>
        </div>
      </ng-template>
    </ion-modal>
</ion-content>

