<ion-header class="ion-no-border">
    <ion-toolbar class="custom-toolbar-color">
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="d-flex-center">
        <form [formGroup]="form" class="auth-form">
            <app-logo></app-logo>
            <p>Usuario:</p>
            <app-custom-input class="email" autocomplete="email" icon="mail-outline" [control]="form.controls.email"
                type="email" label="Correo electrónico"></app-custom-input>

            @if(form.controls.email.errors && form.controls.email.touched) {
            <div class="validators">
                @if(form.controls.email.errors['required']) {
                <!--div>El correo electronico es requerido</div-->
                }

                @if (form.controls.email.errors['email']) {
                <!--Valida que lo que se ingreso al input tenga el formato de email-->
                <!--div>Ingrese un correo valido</div-->
                }
            </div>
            }

            <p>Contraseña:</p>
            <app-custom-input [control]="form.controls.password" type="password" label="Contraseña"
                icon="lock-closed-outline">
            </app-custom-input>

            <ion-row id="remember">
                <ion-toggle [checked]="false" mode="ios" class="toggle"></ion-toggle>
                <ion-text style="color: black;">Recuérdame</ion-text>
                <ion-button fill="clear" id="forgot-password" routerLink="forgot-password">Olvidé mi
                    contraseña</ion-button>
            </ion-row>

            @if(form.controls.password.errors && form.controls.password.touched) {
            <div class="validators">
                @if(form.controls.password.errors['required']) {
                <!--div class="ion-text-start">La contraseña es requerida</div-->
                }

                @if(form.controls.password.errors['minlength']) {
                <!--div>La contraseña debe tener al menos 6 caracteres</div-->
                }
            </div>
            }

            <ion-button class="submit" type="submit" size="smaller" size="medium" [disabled]="form.invalid"
                (click)="login()">
                Iniciar Sesión
            </ion-button>
        </form>
    </div>

    <ion-img class="logo2" src="/assets/icon/logo/inovated fc.png" alt="Inovated">
    </ion-img>
</ion-content>