::ng-deep app-custom-input label {
    color: #219cdb;
}

ion-content {
    --background: #ffff;
}

.toggle {
    zoom: 0.8;
    margin-right: 5px;
}

#forgot-password {
    color: #259edb;
    text-align: right;
}

#remember {
    color: #259edb;
    align-items: center;
}

.custom-toolbar-color {
    --background: #219cdb;
    color: white;
    height: 40px;
}