/* En tu archivo de estilos del componente padre o global */
::ng-deep app-custom-input label {
    color: #219cdb;
}

.toggle {
    zoom: 0.8;
    margin-right: 5px;
}

#forgot-password {
    color: #259edb;
    text-align: right;
}

#remember {
    color: #259edb;
    align-items: center;
}

