.custom-toolbar-color {
  --background: #219cdb;
  height: 80px;
}

ion-header {
  position: relative;
  background-color: #f1f1f1;
  height: 80%;

  ion-toolbar {
    display: flex;
    align-items: center; 
    border-radius: 0 0 30px 30px;
    overflow: hidden;
    background-color: white; 
  }
}

ion-img {
  width: 50%;
  margin: auto;
}

ion-buttons {
  font-size: 30px;
  padding: 20px;
}

ion-button {
  --background: #219cdb;
  --background-hover: #219cdb;
  --background-activated: #219cdb;
  --background-focused: #219cdb;
}

@media (max-width: 800px) {
  ion-img {
    width: 200px; 
    margin: auto; 
  }
}

@media (min-width: 768px) {
  .custom-toolbar-color {
    height: 70px; 
  }

  ion-header ion-toolbar {
    border-radius: 0 0 30px 30px; 
    display: flex; 
    align-items: center;
    justify-content: center; 
  }

  ion-img {
    width: 180px; 
    margin: auto; 
  }

  ion-buttons {
    margin: 0; 
    align-self: center;
  }
}