.custom-toolbar-color {
  --background: #219cdb;
  color: white;
  height: 80px;
}

ion-header {
  position: relative;
  background-color: #f1f1f1;
  height: 80%;

  ion-toolbar {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    border-radius: 0 0 30px 30px;
    overflow: hidden;
    background-color: white; 
  }
}

ion-img {
  width: 50%;
  margin: auto;
}


/* Estilos específicos para modo escritorio */
@media (min-width: 768px) {
  .custom-toolbar-color {
    height: 70px; /* Reduce la altura de la barra de herramientas */
  }

  ion-header ion-toolbar {
    border-radius: 0 0 50px 50px; /* Hace los bordes inferiores más curvos */
    display: flex; 
    align-items: center; /* Centra verticalmente el contenido, incluyendo el icono del menú */
    justify-content: center; /* Centra horizontalmente el contenido, si es necesario */
  }

  ion-img {
    width: 15%; 
    margin: auto; /* Mantiene el margen automático para asegurar el centrado */
  }

  ion-buttons {
    margin: 0; 
    align-self: center; /* Centra verticalmente el icono del menú dentro de su contenedor */
  }
}
