ion-label {
    display: inline-flex;
    align-items: center;
}

.content-button {
    position: absolute;
    right: 40px;
    transform: translateY(-60px);
    display: -webkit-inline-box;
}

.icon-white:before {
    color: white !important;
}

.large-icon {
    font-size: 1.5em;
    color: white !important;
}

// MODAL REQUEST
.content-button-request {
    position: relative;
    right: -40%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.label-modal {
    transform: translateY(-80px);
    padding: 5px;
}

.label-modal ion-label {
    text-align: left;
    margin-bottom: -7px;
    font-size: 13px;
    font-weight: bold;
}

p {
    font-size: 12px;
}

h2 {
    margin-top: 15px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.button-container ion-label {
    margin-top: 5px;
    font-weight: bold;
    font-size: 10px;
}

ion-button.delete {
    --background: red;
}

//Modal Delete
.custom-modal {
    --width: 340px;
    --min-width: 20px;
    --height: 150px; /* Ajusta esta propiedad según tus necesidades */
    --border-radius: 20px;
    --box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); /* Ajuste de la sombra para ser más difuminada */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-delete {
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 16px;
}

.container-button {
    display: flex;
    justify-content: end;
    transform: translateY(25px);
}

.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4px;
}

.btn {
    --color: white;
    --border-radius: 10px;
    position: relative;
    margin: 3% 70%;
    background-color: var(--background);
    border-radius: var(--border-radius);
}

.btn.cancel {
    --background: #219cdb;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-label {
    margin-top: 8px; /* Ajusta el margen según sea necesario */
    text-align: center;
}

.btn.delete {
    --background: #f22e3e;
}

app-info-client {
    display: flex;
    margin-top: 50px;
    width: calc(100% + 16px); /* Ajusta el ancho para compensar el padding del contenedor padre */
    margin-left: -8px; /* Ajusta el margen izquierdo para compensar el padding del contenedor padre */
    margin-right: -8px; /* Ajusta el margen derecho para compensar el padding del contenedor padre */
    box-sizing: border-box; /* Asegura que el padding no afecte el width total */
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px; // Espacio entre los elementos
}