<ion-card mode="ios" class="card-title fixed">
  <ion-card-header>
    <div class="card-content">
      <ng-container [ngSwitch]="true">
        <!-- Caso para la pantalla de clientes -->
        <ion-text *ngSwitchCase="isNewClientPage || isServiceRequestPage" class="title-module">
          <ng-content select="ion-icon"></ng-content>
          <span class="icon-atras" (click)="navigateTo('/main/clients')"></span>
          <span class="small-font">{{ cardText }}</span>
          <span id="icon-title-right" class="{{ icon }}"></span>
        </ion-text>

        <!-- Caso para la pantalla de asignación de usuarios -->
        <ion-text *ngSwitchCase="isUserAssignmentPage" class="title-module">
          <ng-content select="ion-icon"></ng-content>
          <span class="icon-atras" (click)="navigateTo('/main/requests')"></span>
          <span class="small-font">{{ cardText }}</span>
          <span id="icon-title-right" class="{{ icon }}"></span>
        </ion-text>

        <!-- Caso para la pantalla de registro de levantamientos  -->
        <ion-text *ngSwitchCase="isUprisingPage" class="title-module">
          <ng-content select="ion-icon"></ng-content>
          <span class="icon-atras" (click)="navigateTo('/main/uprisings')"></span>
          <span class="small-font">{{ cardText }}</span>
          <span id="icon-title-right" class="{{ icon }}"></span>
        </ion-text>

         <!-- Caso para la pantalla de Cotización  -->
         <ion-text *ngSwitchCase="isQuotePage" class="title-module">
          <ng-content select="ion-icon"></ng-content>
          <span class="icon-atras" (click)="navigateTo('/main/quotes')"></span>
          <span class="small-font">{{ cardText }}</span>
          <span id="icon-title-right" class="{{ icon }}"></span>
        </ion-text>


         <!-- Caso para la pantalla de Nuevo Servicio  -->
         <ion-text *ngSwitchCase="isNewServicePage" class="title-module">
          <ng-content select="ion-icon"></ng-content>
          <span class="icon-atras" (click)="navigateTo('/main/services')"></span>
          <span class="small-font">{{ cardText }}</span>
          <span id="icon-title-right" class="{{ icon }}"></span>
        </ion-text>

          <!-- Caso para la pantalla de Editar Servicio  -->
          <ion-text *ngSwitchCase="isEditServicePage" class="title-module">
            <ng-content select="ion-icon"></ng-content>
            <span class="icon-atras" (click)="navigateTo('/main/services')"></span>
            <span class="small-font">{{ cardText }}</span>
            <span id="icon-title-right" class="{{ icon }}"></span>
          </ion-text>

        <!-- Título por defecto -->
        <ion-card-title *ngSwitchDefault class="title-module">
          <ng-content select="ion-icon"></ng-content>
          <ng-container *ngIf="iconPosition === 'left'">
            <span id="icon-title" class="{{ icon }}"></span>
          </ng-container>
          {{ cardText }}
        </ion-card-title>
      </ng-container>
    </div>
  </ion-card-header>
</ion-card>