<ion-card mode="ios" class="card-title fixed">
  <ion-card-header>
    <div class="card-content">
      <!-- Caso para la pantalla de clientes -->
      <ng-container *ngIf="isNewClientPage || isServiceRequestPage; else userAssignmentTitle">
        <ion-text class="title-module">
          <ng-content select="ion-icon"></ng-content>
          <span class="icon-atras" (click)="navigateTo('/main/clients')"></span>
          <span class="small-font">{{ cardText }}</span>
          <span id="icon-title-right" class="{{ icon }}" ></span>
        </ion-text>
      </ng-container>

      <!-- Caso para la pantalla de asignación de usuarios -->
      <ng-template #userAssignmentTitle>
        <ng-container *ngIf="isUserAssignmentPage || isServiceRequestPage; else defaultTitle">
          <ion-text class="title-module">
            <ng-content select="ion-icon"></ng-content>
            <span class="icon-atras" (click)="navigateTo('/main/requests')"></span>
            <span class="small-font">{{ cardText }}</span>
            <span id="icon-title-right" class="{{ icon }}" ></span>
          </ion-text>
        </ng-container>
      </ng-template>

      <!-- Título por defecto -->
      <ng-template #defaultTitle>
        <ion-card-title class="title-module">
          <ng-content select="ion-icon"></ng-content>
          <ng-container *ngIf="iconPosition === 'left'">
            <span id="icon-title" class="{{ icon }}"></span>
          </ng-container>
          {{ cardText }}
        </ion-card-title>
      </ng-template>
    </div>
  </ion-card-header>
</ion-card>