ion-input {
    --placeholder-color: #219cdb;
}

.input-data {
    height: 40px; 
    display: flex;
    align-items: center;
    border: 1px solid #219cdb;
    border-radius: 8px;
}

.custom-height {
    font-size: 14px !important;
    min-height: 20px !important; 
    height: 20px !important; 
    width: 100%; 
}