ion-content {
    --background: #ffff !important;
}

p {
    font-size: small;
}

.toggle {
    zoom: 0.8;
    margin-left: 8px;
}

ion-input {
    --placeholder-color: #219cdb;
}

#forgot-password {
    color: #259edb;
    text-align: right;
    font-size: 12px;
}

#remember {
    color: #259edb;
    align-items: center;
    justify-content: space-between;

    p {
        transform: translateY(-5px);
        color: black;
        margin-left: 5px;
    }
}

.custom-toolbar-color {
    --background: #219cdb;
    color: white;
    height: 40px;
}

//Toggle
ion-toggle::part(track),
ion-toggle.toggle-checked::part(track) {
    background: #278bd6;
    overflow: visible;
}