.card-info-client {
    border-radius: 20px;
    transform: translateY(-29%);
    height: 180px;
    //width: 90%;
}

.card-content {
    display: flex;
    align-items: center;
    height: 40px;
    //transform: translateY(30%);
    //transform: translateX(-7px);
    z-index: 1;
}

.icon-black:before {
    color: #000000 !important;
    font-size: 18px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    transform: translateY(20%);
    color: black;
    //margin-left: 20px;
}

.content-icon {
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: 5px;
}

.icon-black {
    width: 24px; /* Ajusta el ancho del contenedor del icono */
    display: inline-flex;
    justify-content: center; /* Centra el icono horizontalmente */
}

.address-client {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    flex: 1; /* Asegura que el texto ocupe el espacio restante */
}

.info {
    margin-left: -5px;
    transform: translateY(20%);
}

.name-client {
    font-size: 20px;
}

.user-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    position: static;
    transform: translate(-10%, 10%);
    background-color: rgb(255, 240, 127);
    margin-right: 5px;
}