<ion-card mode="ios" class="card-info-client" [ngStyle]="{'background-color': backgroundColor}">
  <ion-card-content>
    <div class="card-content">
      <!--app-name-client *ngIf="client" [client]="client"></!--app-name-client-->
      <div class="user-initials">
        {{ nombre.split(' ')[0][0] + nombre.split(' ')[1][0] }}
      </div>
      <div class="info">
        <ion-card-title class="name-client">{{ nombre }}</ion-card-title>
      </div>
    </div>
    <div class="icon-container">
      <div class="content-icon">
        <span class="icon-direccion icon-black"></span>
        <ion-label class="address-client">{{ direccion.calle }}, #{{ direccion.numeroExterior }}, {{ direccion.colonia }}, 
          C.P: {{ direccion.codigoPostal }}, {{ direccion.ciudad }}, {{ direccion.estado }}.</ion-label>
      </div>
      <div class="content-icon">
        <span class="icon-telefono icon-black"></span>
        <ion-label class="address-client">{{ telefono }}</ion-label>
      </div>
      <div class="content-icon">
        <span class="icon-correo icon-black"></span>
        <ion-label class="address-client">{{ correo }}</ion-label>
      </div>
    </div>
  </ion-card-content>
</ion-card>