<ng-container *ngIf="isClientsPage">
  <ion-avatar *ngIf="client">
    <div [ngClass]="{'user-initials': !isModal, 'user-initials-modal': isModal}" [ngStyle]="{'background-color': client.color}">
      {{ getInitials(client.nombre) }}
    </div>
  </ion-avatar>
</ng-container>

<ion-avatar *ngIf="user">
  <div [ngClass]="{'user-initials': !isModal, 'user-initials-modal': isModal}" style="background-color: aqua;">
    {{ getInitialsUser(user.nombre, user.paterno) }}
  </div>
</ion-avatar>

<ion-avatar *ngIf="contact">
  <div [ngClass]="{'user-assigment contact': !isModal, 'user-initials-modal': isModal}" [ngStyle]="{'background-color': contact?.color}">
    {{ getInitials(contact.nombre) }}
  </div>
</ion-avatar>

<ion-avatar *ngIf="request">
  <div [ngClass]="{'user-initials': !isModal, 'user-initials-modal': isModal}" [ngStyle]="{'background-color': request?.perfil?.color}">
    {{ getInitials(request?.perfil?.nombre) }}
  </div>
</ion-avatar>