<div class="custom-card-border-radius">
  <app-header [showMenu]="true" [icon]="'icon-solicitud'" [cardText]="'Solicitud de servicio'"></app-header>
</div>

<ion-content [fullscreen]="true">
  <app-info-client [nombre]="selectedRequest?.perfil?.nombre" [direccion]="selectedRequest?.perfil?.direccion"
    [telefono]="selectedRequest?.perfil?.telefono" [correo]="selectedRequest?.perfil?.correo"
    [backgroundColor]="'white'">
  </app-info-client>

  <form [formGroup]="serviceRequestForm" class="form">
    <div class="title-section-info">
      <ion-text>
        <h6>
          Información sobre la solicitud
        </h6>
      </ion-text>
      <hr class="line">
    </div>

    <p>Servicio:</p>
    <ion-button mode="ios" id="open-custom-dialog" class="custom-button select" size="small"
      style="display: flex; align-items: center; justify-content: space-between;">
      <span [ngClass]="{'black-text': selectedServiceName !== 'Selecciona una opción'}" style="margin-right: auto;">
        {{ selectedServiceName }}
      </span>
      <span id="icon-drop" class="icon-drop"></span>
    </ion-button>

    <ion-modal id="example-modal" #employeeModal trigger="open-custom-dialog" class="glass-content">
      <ng-template>
        <ion-list [inset]="true">
          <ion-item *ngFor="let service of services" (click)="selectService(service)">
            <ion-label> {{ service.nombreServicio }}</ion-label>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-modal>

    <p>Descripción:</p>
    <ion-item mode="ios" class="custom-input" lines="none">
      <ion-textarea type="text" placeholder="Descripción del servicio a realizar" formControlName="descripcion">
      </ion-textarea>
    </ion-item>

    <p>Fecha:</p>
    <ion-button mode="ios" id="open-custom-date" class="custom-button" size="small"
      style="display: flex; align-items: center; justify-content: space-between;">
      <span [ngClass]="{'black-text': selectedDate !== 'dd / mm / aaaa'}" style="margin-right: auto;">
        {{ selectedDate }}
      </span>
      <span class="icon-calendario" style="margin-left: auto;"></span>
    </ion-button>

    <p>Hora:</p>
    <ion-button mode="ios" id="open-custom-hour" class="custom-button" size="small"
      style="display: flex; align-items: center; justify-content: space-between;">
      <span [ngClass]="{'black-text': selectedTime !== '12:00 pm'}" style="margin-right: auto;">{{ selectedTime
        }}</span>
        <span class="icon-reloj" style="margin-left: auto;"></span>
    </ion-button>

    <ion-button mode="ios" class="add" type="submit" size="small" (click)="sendRequest()">
      <strong>Enviar solicitud</strong>
    </ion-button>

    <ion-modal id="example-modal" #dateModal trigger="open-custom-date" class="glass-content">
      <ng-template>
        <div class="wrapper">
          <ion-datetime presentation="date" formControlName="fecha" (ionChange)="onDateChange($event)"></ion-datetime>
        </div>
      </ng-template>
    </ion-modal>

    <ion-modal id="example-modal" #timeModal trigger="open-custom-hour" class="glass-content">
      <ng-template>
        <div class="contain-time">
          <div class="time-picker">
            <div class="time-box">
              <ion-icon class="icon" name="chevron-up-outline" style="color: #74bc52;"
                (click)="incrementHour()"></ion-icon>
              <div class="input-container">
                <ion-input mode="ios" type="text" [(ngModel)]="formattedHour" [ngModelOptions]="{standalone: true}"
                  (ionBlur)="validateHour()" class="no-bottom-line"></ion-input>
              </div>
              <ion-icon name="chevron-down-outline" style="color: #74bc52;" (click)="decrementHour()"></ion-icon>
            </div>

            <div class="time-box separator-container">
              <div class="separator">:</div>
            </div>
            <div class="time-box">
              <ion-icon name="chevron-up-outline" style="color: #74bc52;" (click)="incrementMinute()"></ion-icon>
              <div class="input-container">
                <ion-input mode="ios" type="text" [(ngModel)]="formattedMinute" [ngModelOptions]="{standalone: true}"
                  (ionBlur)="validateMinute()" class="no-bottom-line"></ion-input>
              </div>
              <ion-icon name="chevron-down-outline" style="color: #74bc52;" (click)="decrementMinute()"></ion-icon>
            </div>
            <div class="time-box">
              <ion-icon name="chevron-up-outline" style="color: #74bc52;" (click)="toggleAmPm()"></ion-icon>
              <div class="input-container">
                <div>{{ amPm }}</div>
              </div>
              <ion-icon name="chevron-down-outline" style="color: #74bc52;" (click)="toggleAmPm()"></ion-icon>
            </div>
          </div>
          <ion-button mode="ios" class="save" type="button" size="small" (click)="saveTime()">
            <strong>Guardar</strong>
          </ion-button>
        </div>
      </ng-template>
    </ion-modal>

    <pre>{{ serviceRequestForm.value | json }}</pre>
  </form>
</ion-content>