.icon-black:before {
    color: #000000 !important;
    font-size: 30px;
}

.icon-white:before {
    color: #ffffff !important;
    font-size: 35px;
}

.home {
    bottom: 100px;
    transform: translateY(170%) !important;
}

ion-tab-button {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-tab {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
    border: 0px solid rgba(0, 0, 0, 0.185); 
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); 
    width: 95%;
    margin: 0 auto;
    height: 50px;
}

.custom-tab-bar {
    padding: 0 10px;
    background-color: white;
}









