<app-header [showMenu]="true"></app-header>

<ion-content [fullscreen]="true">
    <ion-card mode="ios" class="welcome">
        <ion-card-header>
            <div class="content-home">
                <ion-card-title class="text">¡Hola {{ name }}!</ion-card-title>
                <ion-card-title class="text">Veamos que tenemos para hoy.</ion-card-title>
            </div>
        </ion-card-header>
    </ion-card>

    <h3>User</h3>
    <pre>{{ user() | json }}</pre>
</ion-content>

<app-menu-tab></app-menu-tab>