<ion-content class="ion-padding">
  <ion-modal #modalUprising class="glass-content modal-request" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <ion-card-content id="modal-request">

        <app-info-client 
          [nombre]="uprising.perfil.nombre" 
          [direccion]="uprising.perfil.direccion" 
          [telefono]="uprising.perfil.telefono" 
          [correo]="uprising.perfil.correo">
        </app-info-client>

        <div class="label-modal" style="flex-direction: column;">
          <h2><strong>{{ uprising.descripcion }}</strong></h2>
          <ion-label>Clave</ion-label>
          <p>{{ uprising.infoServicio.claveServicio }}</p>
          <ion-label>Categoria</ion-label>
          <p>{{ uprising.infoServicio.categoria }}</p>
          <ion-label>Fecha</ion-label>
          <p>{{ uprising.fecha }}</p>
          <ion-label>Hora</ion-label>
          <p>{{ uprising.hora }}</p>
          <ion-label>Descripción</ion-label>
          <p>{{ uprising.infoServicio.descripcion }}</p>
        </div>

        <div class="content-button no-hover">
          <div class="button-container">
            <ion-button id="open-custom-delete" mode="ios" shape="round" size="large" class="delete" (click)="onRegister()"> 
              <ion-icon slot="icon-only" class="icon-reg_levantamiento icon-white large-icon"></ion-icon>
            </ion-button>
            <ion-label class="centered-label">Registrar</ion-label>
          </div>
        </div>
      </ion-card-content>
    </ng-template>
  </ion-modal>
</ion-content>