<div class="custom-card-border-radius">
    <app-header [showMenu]="true" [icon]="'icon-cotizacion'" [cardText]="'Cotizaciones pendientes'"></app-header>
</div>

<ion-content [fullscreen]="true"> 
    <ion-card *ngFor="let quote of quotes" mode="ios" class="client">
        <ion-card-content id="open-modal" (click)="openQuoteModal(quote)"> 
            <ion-icon name="ellipsis-vertical" class="card-options-icon"></ion-icon>
            <div class="list-client">
                <div class="info-cli">
                    <ion-card-title class="name-client">{{ quote.descripcion }}</ion-card-title>
                    <ion-label class="address">{{ quote.perfil.nombre}}</ion-label>
                    <ion-label class="address">{{ quote.fecha | date:'dd / MMMM / yyyy' }}</ion-label>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>

<app-modal-info-quote></app-modal-info-quote>

<app-menu-tab></app-menu-tab>