.custom-toolbar-color {
  --background: #219cdb;
  color: white;
  height: 40px;
}

.icon-container {
  font-size: 30px;
}

ion-content {
  --background: #ffff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  overflow: hidden;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78%;
}

.auth-form {
  width: 100%;
  max-width: 400px; 
  padding: 20px;
  box-sizing: border-box;
}

p {
  font-size: small;
}

ion-input {
  --placeholder-color: #219cdb;
}

.custom-input {
  --padding-start: 0px; 
}

.input-data {
  margin-top: 2px;
  --background: #f9f9f9;
  height: 40px;
}

.input-data ion-icon {
  display: flex;
  align-items: center;
}

.custom-input ion-icon {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.indi {
  margin-top: 2px;
  margin-bottom: 15px;
}

.input-data + p {
  margin-top: 5px; 
}
