<ion-header class="ion-no-border">
  <ion-toolbar class="custom-toolbar-color">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form">
      <h1 style="text-align: center;"><strong>Recuperar contraseña</strong></h1>
      
      <p>Correo electrónico:</p>
      <app-custom-input icon="mail-outline" type="email" label="Correo electrónico" autocomplete="email"
        [control]="form.controls.email">
      </app-custom-input>
      <p>Te enviaremos un email para reestablecer tu contraseña.</p>

      <ion-button class="submit" type="submit">
        Envíar vinculo
    </ion-button>
    </form>
  </div>
</ion-content>