<ion-header class="ion-no-border">
  <ion-toolbar class="custom-toolbar-color">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <div class="icon-container">
      <span class="icon-atras" (click)="navigateTo('/auth')"></span>
    </div>
    <br>
  </div>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form">
      <h1 style="text-align: center;"><strong>Recuperar contraseña</strong></h1>
      <ion-img class="logo" src="/assets/icon/password.png" alt="Inovated"></ion-img>
      
      <p>Correo electrónico:</p>
      <ion-item class="custom-input" lines="none">
        <ion-icon class="icon-correo1" slot="start"></ion-icon>
        <ion-input class="custom-label" type="email" autocomplete="email" formControlName="correo"
            placeholder="Correo electrónico"></ion-input>
    </ion-item>
      <p class="indi">Ingresa tu correo y te enviaremos un código</p>

      <ion-button mode="ios" class="submit" type="submit" size="small">
        Envíar vinculo
      </ion-button>
    </form>
  </div>
</ion-content>