<div class="custom-card-border-radius">
    <app-header [showMenu]="true" [icon]="'icon-levantamiento'" [cardText]="'Levantamientos Pendientes'"></app-header>
</div>

<ion-content [fullscreen]="true"> 
    <ion-card *ngFor="let uprising of uprisings" mode="ios" class="client">
        <ion-card-content id="open-modal" (click)="openRequestModal(uprising)">
            <ion-icon name="ellipsis-vertical" class="card-options-icon"></ion-icon>
            <div class="list-client">
                <div class="info-cli">
                    <ion-card-title class="name-client">{{ uprising.descripcion }}</ion-card-title>
                    <ion-label class="address">{{ uprising.perfil.nombre}}</ion-label>
                    <ion-label class="address">{{ uprising.fecha | date:'dd / MMMM / yyyy' }}</ion-label>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>

<app-modal-info-uprising></app-modal-info-uprising>

<app-menu-tab></app-menu-tab>