/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url('/Innovated/style.css');

ion-button {
    text-transform: none;
}

// safe padding for ios
.safe-p-bottom {
    padding-bottom: constant(safe-area-inset-bottom); // for ios 13+
    padding-bottom: env(safe-area-inset-bottom); // for previous ios versions
}

.submit {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80% !important;
    --background: #219cdb;
    --border-radius: 10px;
}

.empty {
    text-align: center;
    padding: 60px;
    opacity: 30%;

    ion-icon {
        font-size: 100px;
    }
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-input {
    --border-color: #219cdb;
    --border-radius: 15px;
    --border-style: solid;
    --border-width: 1px;
    //margin: 10px 0;

    ion-input {
        font-size: 14px !important;
        min-height: 40px !important;
        height: 30px !important;
    }

    .eye-icon {
        position: initial;
        top: 13px;
    }
}

.validators {
    color: var(--ion-color-danger);
    font-size: 13px;
    text-align: center;
}

.auth-form {
    width: 100%;
    text-align: center;
    padding: 20px;

    p {
        text-align: left;
        margin-bottom: 2px;
    }
}

.logo2 {
    width: 10%;
    height: 8%;
}

.product-item {
    --padding-top: 20px;

    ion-avatar {
        width: 70px;
        height: 80px;
        --border-radius: 15px;
    }

    .name {
        font-weight: 600;
        padding-bottom: 5px;
    }

    .data {
        font-size: 13px;

        strong {
            font-weight: 500;
        }
    }

    .option-btn {
        font-size: 27px;
    }

    ion-chip {
        font-size: 14px;
        border-radius: 10px;
        margin-left: 0;
    }
}

.icon {
    color: #219cdb;
}


.glass-content {
    background: rgba(14, 13, 13, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(8, 8, 8, 0.3);
}

.text {
    font-size: 25px;
    /* Ajusta el tamaño según sea necesario */
    transform: translateY(-30%);
}

.card-title {
    height: 50px;
    /* Ajusta este valor según tus necesidades */
}

/*
@media (min-width: 769px) {
    .auth-form {
        width: 500px;
    }

    .add-update-modal {
        --height: 680px;
    }
}
*/

@media (min-width: 369px) {
    .auth-form {
        width: 500px;
    }

    .add-update-modal {
        --height: 680px;
    }

    .logo2 {
        width: 50%;
        height: 5%;
        margin-left: auto;
        margin-right: auto;
    }
}



