<div class="custom-card-border-radius">
  <app-header [showMenu]="true" [icon]="'icon-asignar'" [cardText]="'Asignar usuario'"></app-header>
</div>

<ion-content [fullscreen]="true">
  <form [formGroup]="userAssigmentForm" class="form">
    <div class="title-section general">
      <ion-text>
        <h6>
          Información general
        </h6>
      </ion-text>
      <hr class="line">
    </div>

    <app-info-client [nombre]="request.perfil.nombre" 
    [direccion]="request.perfil.direccion" 
    [telefono]="request.perfil.telefono" 
    [correo]="request.perfil.correo"
    [backgroundColor]="'white'">
  </app-info-client>

    <div class="title-section request">
      <ion-text>
        <h6>
          Información de la solicitud
        </h6>
      </ion-text>
      <hr class="line">
    </div>

    <div class="info-request">
      <p>Servicio:</p>
      <ion-item class="input-data" lines="none">
        <ion-input class="custom-height" type="text" autocomplete="autocomplete" placeholder="Calle"></ion-input>
      </ion-item>

      <p>Clave:</p>
      <ion-item class="input-data" lines="none">
        <ion-input class="custom-height" type="text" autocomplete="autocomplete" placeholder="ext."></ion-input>
      </ion-item>

      <p>Categoria:</p>
      <ion-item class="input-data" lines="none">
        <ion-input class="custom-height" type="text" autocomplete="autocomplete" placeholder="Opcional"></ion-input>
      </ion-item>

      <p>Fecha:</p>
      <ion-item class="input-data" lines="none">
        <ion-input class="custom-height" type="text" autocomplete="autocomplete" placeholder="Colonia"></ion-input>
      </ion-item>

      <p>Hora:</p>
      <ion-item class="input-data" lines="none">
        <ion-input class="custom-height" type="text" autocomplete="autocomplete" placeholder="CP"></ion-input>
      </ion-item>

      <p>Descripción:</p>
      <ion-item class="custom-input" lines="none" size="large">
        <ion-textarea type="text" placeholder="Opcional"></ion-textarea>
      </ion-item>
    </div>

    <div class="title-section request">
      <ion-text>
        <h6>
          Asignar personal
        </h6>
      </ion-text>
      <hr class="line">
    </div>

    <p>Colaborador:</p>
    <!--ion-item mode="ios" lines="none" class="select-data">
      <ion-select justify="space-between" label="Selecciona una opción" class="custom-label"
        formControlName="servicioOfreceID">
        <ion-select-option>
          selecciona
        </ion-select-option>
      </ion-select>
    </!--ion-item-->

    <ion-button mode="ios" class="add" type="submit" size="small" >
      <strong>Guardar cliente</strong>
    </ion-button>
  </form>
</ion-content>

<app-menu-tab></app-menu-tab>