app-info-client {
    display: flex;
    transform: translateX(-17px);
    height: 165px;
    width: 112%;
    align-items: center;
}

ion-text {
    margin-right: 10px;
    height: 50px !important;
    margin-bottom: -15px;
    transform: translateY(-20%);
}

ion-textarea {
    --placeholder-color: #219cdb;
}

.line {
    flex-grow: 1;
    border: .5px solid #288bd6;
    background-color: #288bd6;
    transform: translateY(20%) !important;
    border-radius: 10px;
}

.add {
    width: 100%;
    --background: #219cdb;
    --background-hover: #219cdb;
    --background-activated: #1d85b9;
    --border-radius: 11px;
    font-size: 15px;
    margin-top: 12px;
    transform: translateY(-200px);
    padding: 25px;
}

.title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-section.general {
    transform: translateY(-57px);
    padding: 5px;
}

.title-section.request {
    transform: translateY(-45px);
    padding: 5px;
}

.title-section.assign {
    transform: translateY(-8px);
}

.colab {
    transform: translateY(-25px);
}

.title-section.employee {
    transform: translateY(-28px);
}

.form {
    width: 100%;
    text-align: center;
    padding: 20px;

    p {
        text-align: left;
        margin-bottom: 0; // Eliminar margen inferior
        font-size: small;
        //transform: translateY(-50%);
    }

   //transform: translateY(-50%);
}

.info-request {
    transform: translateY(-10%);
    padding: 5px;
}

.input-data {
    margin-top: 2px;
    --background: #f1f3f5;
    height: 40px;
}

app-custom-input {
    height: 5px !important;
    margin: 0;
}

.title {
    color: #219cdb;
    font-size: 13px;
    margin-right: 30px;
}

.title1 {
    font-size: 13px;
    margin-right: 10px;
}

.title,
.title1 {
    margin-top: 8px;
    margin-bottom: 15px;
}

ion-input {
    --placeholder-color: #219cdb;
}

.custom-input {
    height: 120px; // Permitir que el contenedor se ajuste automáticamente
    display: flex; // Asegurar que el contenido se alinee correctamente
    align-items: center; // Centrar verticalmente el contenido
    --border-radius: 8px; // Añadir un borde redondeado
    --background: #f1f3f5;
}

ion-textarea {
    font-size: 14px !important;
    min-height: 100px !important; // Ajustar la altura mínima
    height: 100px !important; // Ajustar la altura
    width: 100%; // Asegurar que el input ocupe todo el ancho del contenedor
}

ion-content {
    --padding-bottom: 0px !important;
}

//Select 
/*
.custom-label::part(label) {
    color: #219cdb;
}
    */

.custom-button .placeholder-text {
    color: #288bd6; /* Color del placeholder */
  }

.select {
    transform: translateY(-68%);
}

//Card employee
.title-section.employee {
    transform: translateY(-27px); // Ajusta la posición vertical
    margin-bottom: 0; // Elimina el margen inferior
    padding-bottom: 0; // Elimina el padding inferior
}

.container-employee {
    max-height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateY(-115px);
    padding: 25px;
}

.name-employee {
    transform: translateX(-15px) translateY(-25px); // Ajusta la posición horizontal y vertical
    margin-top: 0; // Elimina el margen superior
    margin-bottom: 10px;
    width: 100%;
    border-radius: 13px;
}

.name {
    display: flex;
    justify-content: space-between; // Asegura que el contenido se distribuya correctamente
    align-items: center;
    transform: translateX(-5px);
    height: 65px; 
}

ion-button.delete {
    --background: white;
    color: #e60f2f;
    outline: 6px solid #e60f2f; 
    outline-offset: -4px;
    border-radius: 50%; 
    width: 30px; 
    height: 30px; 
    line-height: 30px; 
    vertical-align: middle;
    display: flex;
    transform: translateX(10px);
    align-self: flex-end; // Asegurar que el botón se alinee al final
}

.icon-red:before {
    color: #e60f2f !important;
    font-size: 24px; /* Ajusta el tamaño según sea necesario */
}

.large-icon {
    font-size: 24px; /* Ajusta el tamaño según sea necesario */
}

.centered-icon {
    margin-top: 5px;
    width: 100%;
    height: 100%;
}

//Modal 
ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  
  ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
  }
  
  ion-modal#example-modal ion-icon {
    margin-right: 6px;
  
    width: 48px;
    height: 48px;
  
    padding: 4px 0;
  
    color: #a8328d;
  }
  
  ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
  }

  //Lista empleados
  ion-list {
    cursor: pointer;
  }